body {
  background-color: #dcebf8;
  margin: 0;
  }
  .container-login{
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .login-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 40px 30px;
    width: 100%;
    max-width: 500px;
  }
  
  .login-card h4 {
    font-weight: bold;
    /* margin-bottom: 20px; */
  }
  .login-card img {
    max-height: 200px;
    max-width: 360px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #b15ae0;
  }
  
  .btn-primary {
    background-color: #b15ae0;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #dcb1f8;
  }
  